.home {
  background: url(/img/home.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 700px;
  .dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 700px;
    background: rgba(0, 0, 0, 0.7);
  }
  .home-inner {
    padding-top: 100px;
  }
  .card-form {
    opacity: 0.8;
  }
  .fas {
    @extend .tick;
    @extend .tick--primary;
  }
}
